<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="script/jquery-3.3.1.min.js"></script>
        <script src="script/jquery.dynatable.js"></script>
        <script src="script/viewDealInfo.js"></script>
        <link type="text/css" rel="stylesheet" href="script/jquery.dynatable.css">
        <title>售卖详细信息</title>
    </head>
    <body>

        <div id="date">
            开始时间： <input id="startTime" type="date"/>
            结束时间： <input id="endTime"  type="date"/>
            <button type="button" onclick="queryDealInfo()">查询!</button>
        </div>
        <div id="area">
            <select id="search-area" name="area Name">
                <option></option>
                <option>中心城区</option>
                <option>郊区新城</option>
            </select>
        </div>
        <div id="type">
            <select id="search-type" name="area Type">
                <option></option>
                <option>新房</option>
                <option>二手房</option>
            </select>
        </div>
        <div id="table" style="">
            <table id="my-ajax-table" class="dynatable-active-page">
                <thead>
                <th>Area Name</th>
                <th>TypeStr</th>
                <th>Num</th>
                <th>Coverage</th>
                <th>TimeStr</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <script type="text/javascript">
            var myTable = $('#my-ajax-table');
            queryDealInfo();
            $('#search-area').change( function() {
                var value = $(this).val();
                if (value === "") {
                    myTable.data('dynatable').queries.remove("areaName");
                } else {
                    myTable.data('dynatable').queries.add("areaName",value);
                }
                myTable.data('dynatable').process();
            });

            $('#search-type').change( function() {
                var value = $(this).val();
                if (value === "") {
                    myTable.data('dynatable').queries.remove("typeStr");
                } else {
                    myTable.data('dynatable').queries.add("typeStr",value);
                }
                myTable.data('dynatable').process();
            });
        </script>
    </body>
</html>