<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="script/jquery-3.3.1.min.js"></script>
        <script src="script/jquery.dynatable.js"></script>
        <link type="text/css" rel="stylesheet" href="script/jquery.dynatable.css">
        <title>Title</title>
    </head>
    <body>

        <div id="date" style="width: 600px;height:100px;">
            开始时间： <input id="startTime" type="date"/>
            结束时间： <input id="endTime"  type="date"/>
            <button type="button" onclick="">查询!</button>
        </div>
        <div id="table" style="width: 600px;height:100px;">
            <table id="my-ajax-table">
                <thead>
                <th>Some Attribute</th>
                <th>Some Other Attribute</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <script type="text/javascript">
            $('#my-ajax-table').dynatable({
                dataset: {
                    ajax: true,
                    ajaxUrl: '/queryDetails',
                    ajaxOnLoad: true,
                    records: []
                }
            });
        </script>
    </body>
</html>