<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="script/jquery-3.3.1.min.js"></script>
        <script src="script/jquery.dynatable.js"></script>
        <script src="script/viewPreSaleInfo.js"></script>
        <link type="text/css" rel="stylesheet" href="script/jquery.dynatable.css">
        <title>预售详细信息</title>
    </head>
    <body>

        <div id="date">
            开始时间： <input id="startTime" type="date"/>
            结束时间： <input id="endTime"  type="date"/>
            <button type="button" onclick="queryPreSaleInfo()">查询!</button>
        </div>
        <div id="area">
            <select id="search-area" name="area Name">
                <option></option>
                <option>金堂县</option>
                <option>青羊区</option>
                <option>金牛区</option>
                <option>武侯区</option>
                <option>成华区</option>
                <option>高新区</option>
                <option>天府新区</option>
                <option>龙泉驿区</option>
                <option>新都区</option>
                <option>温江区</option>
                <option>双流区</option>
                <option>锦江区</option>
                <option>简阳市</option>
                <option>都江堰市</option>
                <option>邛崃市</option>
                <option>彭州市</option>
                <option>崇州市</option>
                <option>郫都区</option>
                <option>大邑县</option>
                <option>蒲江县</option>
                <option>新津县</option>
            </select>
        </div>
        <div id="table" style="">
            <table id="my-ajax-table" class="dynatable-active-page">
                <thead>
                <th>Area Name</th>
                <th>Vallige Name</th>
                <th>Coverage</th>
                <th>TimeStr</th>
                <th>Price</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <a href="viewDealInfo.html"> 交易信息</a>>
        <a href="viewPreSaleInfo.html"> 预售信息</a>>
        <a href="viewSumInfo.html"> 对比信息</a>>

        <script type="text/javascript">
            var myTable = $('#my-ajax-table');
            queryPreSaleInfo();
            $('#search-area').change( function() {
                var value = $(this).val();
                if (value === "") {
                    myTable.data('dynatable').queries.remove("areaName");
                } else {
                    myTable.data('dynatable').queries.add("areaName",value);
                }
                myTable.data('dynatable').process();
            });
        </script>
    </body>
</html>